body
{
    font-family: sans-serif;
    background-color: #CCFFFF;
}

h1, h3, h2
{
    text-align:center;
}

h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}

h3 span
{
    background-color:black;
    color:white;
    font-size:0.8em;
    margin-bottom:0px;
    font-weight: normal;
}

.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
    color: black;
}
.news, #header
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
    font-size: small;
}

.inscription, .inscription table
{
    
    margin: auto;
    width: 100%;
    /* border-radius: 5px;
    background-color: #CCCCCC; */
}

.inscription, .titre_inscription
{
    /*padding: 2px 24px 28px 24px;
      /* border-radius: 5px; 
   /* box-shadow: 3px 3px 3px grey; */
    text-align:center;
    text-transform: uppercase;
}

.nouveau_billet
{
    padding: 2px 24px 28px 24px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
    text-align:center;
}

.nouveau_billet, .nouveau_billet table
{
    background-color: #CCCCCC;
    margin: auto;
    width: 800px;
    border-radius: 5px;
}

.bouton
{
    text-align: center;
}

td
{
    width:50%;
}

.sub_error
{
    font-size: 0.8em;
    color: red;
}

#normal
{
    text-align: left;
    background-color: #CCFFFF;
}

.header_master
{
    background-color: grey;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    padding-top: 10px;
    box-shadow: 0px 0px 10px 1px black;
}

.header_master a
{
    color: white;
}

#titre
{
    padding-top: 30px;
}

#header_left, #header_right
{
    display: inline-block;
    position: relative;
}

#header_right
{
    float: right;
}

/* LIGHTBOX */

#shadowing_connexion, #shadowing_inscription
{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:10;
    opacity:0.5;
    filter: alpha(opacity=50);
}


#box_inscription, #box_connexion
{
    display: none;
    position: fixed;
    top: 25%;
    left: 42%;
    width: 300px;
    height: 400px;
    padding: 0px;
    margin:0;
    border: 0px solid grey;
    box-shadow: 0px 0px 3px 3px grey;
    background-color: #CCCCCC;
    /*border-radius: 5px;*/
    z-index:101;
    overflow: auto;
}

#boxtitle_connexion, #boxtitle_inscription
{
    display:none; 
    position:absolute;
    float:center;
    top:0;
    left:0;
    width:496px;
    height:24px;
    padding:0;
    padding-top:4px;
    left-padding:8px;
    margin:0;
    border-bottom:4px solid #3CF;
    background-color: #09c;
    color:white;
    text-align:center;
}